@define-color base #161616;
@define-color surface #262626;
@define-color overlay #393939;
@define-color muted #525252;
@define-color subtle #6f6f6f;
@define-color text #dde1e6;
@define-color love #ff7eb6;
@define-color gold #ee5396;
@define-color rose #ff6f00;
@define-color pine #42be65;
@define-color foam #3ddbd9;
@define-color iris #be95ff;
@define-color blue #78a9ff;
@define-color red #ff8389;
@define-color orange #ff9d57;
@define-color yellow #f1c21b;

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
}

window#waybar {
  background-color: @base;
  transition-property: background-color;
  transition-duration: 0.5s;
  opacity: 1;
}

window#waybar.hidden {
  opacity: 0.5;
}

#tags,
#workspaces {
  background-color: transparent;
}

#tags button,
#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 6px 18px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: @surface;
  color: @text;
}

#tags button.focused,
#workspaces button.focused {
  color: @base;
  background-color: @iris;
}

#tags button.active,
#workspaces button.active {
  color: @base;
  background-color: @iris;
}

#tags button:hover,
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: @base;
  background-color: @blue;
}

#tags button.urgent,
#workspaces button.urgent {
  background-color: @red;
}

#memory,
#cpu,
#disk,
#custom-power,
#battery,
#backlight,
#pulseaudio,
#network,
#clock,
#tray {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
  background-color: @surface;
  color: @base;
}

#memory {
  background-color: @love;
}

#cpu {
  background-color: @orange;
}

#disk {
  background-color: @gold;
}

#battery {
  background-color: @pine;
}

@keyframes blink {
  to {
    background-color: @red;
    color: @base;
  }
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: @rose;
  color: @base;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.charging {
  background-color: @pine;
}

#backlight {
  background-color: @yellow;
}

#pulseaudio {
  background-color: @foam;
}

#network {
  background-color: @blue;
  padding-right: 17px;
}

#clock {
  font-family: JetBrainsMono Nerd Font;
  background-color: @iris;
}

#custom-power {
  background-color: @love;
}

#tray {
  background-color: @foam;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: @base;
}

tooltip label {
  padding: 5px;
  background-color: @base;
}
