* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: white;
}

#workspaces {
  background-color: #24283b;
  margin: 5px;
  margin-left: 10px;
  border-radius: 5px;
}
#workspaces button {
  padding: 5px 10px;
  color: #c0caf5;
}

#workspaces button.focused {
  color: #24283b;
  background-color: #7aa2f7;
  border-radius: 5px;
}

#workspaces button.active {
  color: #24283b;
  background-color: #7aa2f7;
  border-radius: 5px;
}

#workspaces button:hover {
  background-color: #7dcfff;
  color: #24283b;
  border-radius: 5px;
}

#tags {
  background-color: #24283b;
  margin: 5px;
  margin-left: 10px;
  border-radius: 5px;
}
#tags button {
  padding: 5px 10px;
  color: #c0caf5;
}

#tags button.focused {
  color: #24283b;
  background-color: #7aa2f7;
  border-radius: 5px;
}

#tags button.active {
  color: #24283b;
  background-color: #7aa2f7;
  border-radius: 5px;
}

#tags button:hover {
  background-color: #7dcfff;
  color: #24283b;
  border-radius: 5px;
}

#memory,
#cpu,
#disk,
#custom-power,
#backlight,
#custom-date,
#clock,
#battery,
#pulseaudio,
#tray,
#network {
  background-color: #24283b;
  padding: 5px 10px;
  margin: 5px 0;
  color: #e0af68;
}

#custom-date {
  color: #7dcfff;
}

#cpu,
#memory,
#disk {
  color: #ff9e64;
}

#custom-power {
  color: #24283b;
  background-color: #db4b4b;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  padding: 5px 10px;
}

#clock {
  color: #b48ead;
  border-radius: 0 5px 5px 0;
}

#battery {
  color: #9ece6a;
}

#battery.charging {
  color: #9ece6a;
}

#battery.warning:not(.charging) {
  background-color: #f7768e;
  color: #24283b;
}

#network {
  color: #f7768e;
}

#pulseaudio {
  color: #e0af68;
  border-radius: 5px 0 0 5px;
}

#tray {
  margin: 5px 5px;
  border-radius: 5px;
}
