* {
    bg-col: #1e1e2e;
    bg-col-light: #313244;
    border-col: #cba6f7;
    selected-col: #313244;
    blue: #89b4fa;
    purple: #cba6f7;
    cyan: #94e2d5;
    green: #a6e3a1;
    red: #f38ba8;
    orange: #fab387;
    yellow: #f9e2af;
    fg-col: #cdd6f4;
    fg-col2: #f38ba8;
    grey: #6c7086;
}

@import "../base/launcher-base.rasi"
