* {
    bg-col:  #2d353b;
    bg-col-light: #343f44;
    border-col: #a7c080;
    selected-col: #3d484d;
    blue: #7fbbb3;
    purple: #d699b6;
    cyan: #83c092;
    green: #a7c080;
    red: #e67e80;
    orange: #e69875;
    yellow: #dbbc7f;
    fg-col: #d3c6aa;
    fg-col2: #a7c080;
    grey: #859289;
}

@import "../base/launcher-base.rasi"
