* {
    bg-col:  #1a1b26;
    bg-col-light: #24283b;
    border-col: #7aa2f7;
    selected-col: #283457;
    blue: #7aa2f7;
    purple: #bb9af7;
    cyan: #7dcfff;
    green: #9ece6a;
    red: #f7768e;
    orange: #ff9e64;
    yellow: #e0af68;
    fg-col: #c0caf5;
    fg-col2: #bb9af7;
    grey: #565f89;
}

@import "../base/launcher-base.rasi"
