@define-color base #191724;
@define-color surface #1f1d2e;
@define-color overlay #26233a;
@define-color muted #6e6a86;
@define-color subtle #908caa;
@define-color text #e0def4;
@define-color love #eb6f92;
@define-color gold #f6c177;
@define-color rose #ebbcba;
@define-color pine #31748f;
@define-color foam #9ccfd8;
@define-color iris #c4a7e7;
@define-color highlightLow #21202e;
@define-color highlightMed #403d52;
@define-color highlightHigh #524f67;

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
}

window#waybar {
  background-color: @base;
  transition-property: background-color;
  transition-duration: 0.5s;
  opacity: 1;
}

window#waybar.hidden {
  opacity: 0.5;
}

#tags,
#workspaces {
  background-color: transparent;
}

#tags button,
#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 6px 18px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: @surface;
  color: @text;
}

#tags button.focused,
#workspaces button.focused {
  color: @base;
  background-color: @iris;
}

#tags button.active,
#workspaces button.active {
  color: @base;
  background-color: @iris;
}

#tags button:hover,
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: @base;
  background-color: @foam;
}

#tags button.urgent,
#workspaces button.urgent {
  background-color: @love;
}

#memory,
#cpu,
#disk,
#custom-power,
#battery,
#backlight,
#pulseaudio,
#network,
#clock,
#tray {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
  background-color: @surface;
  color: @base;
}

#memory {
  background-color: @love;
}

#cpu {
  background-color: @gold;
}

#disk {
  background-color: @rose;
}

#battery {
  background-color: @pine;
}

@keyframes blink {
  to {
    background-color: @love;
    color: @base;
  }
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: @gold;
  color: @base;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.charging {
  background-color: @pine;
}

#backlight {
  background-color: @gold;
}

#pulseaudio {
  background-color: @foam;
}

#network {
  background-color: @pine;
  padding-right: 17px;
}

#clock {
  font-family: JetBrainsMono Nerd Font;
  background-color: @iris;
}

#custom-power {
  background-color: @love;
}

#tray {
  background-color: @foam;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: @overlay;
}

tooltip label {
  padding: 5px;
  background-color: @overlay;
}
