@define-color bg0 #282828;
@define-color bg1 #3c3836;
@define-color bg2 #504945;
@define-color bg3 #665c54;
@define-color bg4 #7c6f64;
@define-color fg0 #fbf1c7;
@define-color fg1 #ebdbb2;
@define-color fg2 #d5c4a1;
@define-color fg3 #bdae93;
@define-color fg4 #a89984;
@define-color red #fb4934;
@define-color green #b8bb26;
@define-color yellow #fabd2f;
@define-color blue #83a598;
@define-color purple #d3869b;
@define-color aqua #8ec07c;
@define-color orange #fe8019;

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
}

window#waybar {
  background-color: @bg0;
  transition-property: background-color;
  transition-duration: 0.5s;
  opacity: 1;
}

window#waybar.hidden {
  opacity: 0.5;
}

#tags,
#workspaces {
  background-color: transparent;
}

#tags button,
#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 6px 18px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: @bg1;
  color: @fg1;
}

#tags button.focused,
#workspaces button.focused {
  color: @bg0;
  background-color: @yellow;
}

#tags button.active,
#workspaces button.active {
  color: @bg0;
  background-color: @yellow;
}

#tags button:hover,
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: @bg0;
  background-color: @orange;
}

#tags button.urgent,
#workspaces button.urgent {
  background-color: @red;
}

#memory,
#cpu,
#disk,
#custom-power,
#battery,
#backlight,
#pulseaudio,
#network,
#clock,
#tray {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
  background-color: @bg1;
  color: @bg0;
}

#memory {
  background-color: @purple;
}

#cpu {
  background-color: @orange;
}

#disk {
  background-color: @red;
}

#battery {
  background-color: @green;
}

@keyframes blink {
  to {
    background-color: @red;
    color: @bg0;
  }
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: @orange;
  color: @bg0;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.charging {
  background-color: @green;
}

#backlight {
  background-color: @yellow;
}

#pulseaudio {
  background-color: @blue;
}

#network {
  background-color: @aqua;
  padding-right: 17px;
}

#clock {
  font-family: JetBrainsMono Nerd Font;
  background-color: @yellow;
}

#custom-power {
  background-color: @red;
}

#tray {
  background-color: @blue;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: @bg2;
}

tooltip label {
  padding: 5px;
  background-color: @bg2;
}
