@define-color fujiWhite #dcd7ba;
@define-color oldWhite #c8c093;
@define-color sumiInk0 #16161d;
@define-color sumiInk1 #1f1f28;
@define-color sumiInk2 #2a2a37;
@define-color sumiInk3 #363646;
@define-color sumiInk4 #54546d;
@define-color waveBlue1 #223249;
@define-color waveBlue2 #2d4f67;
@define-color winterGreen #2b3328;
@define-color winterYellow #49443c;
@define-color winterRed #43242b;
@define-color winterBlue #252535;
@define-color autumnGreen #76946a;
@define-color autumnRed #c34043;
@define-color autumnYellow #dca561;
@define-color samuraiRed #e82424;
@define-color roninYellow #ff9e3b;
@define-color waveAqua1 #6a9589;
@define-color dragonBlue #658594;
@define-color fujiGray #727169;
@define-color springViolet1 #938aa9;
@define-color oniViolet #957fb8;
@define-color crystalBlue #7e9cd8;
@define-color springViolet2 #9cabca;
@define-color springBlue #7fb4ca;
@define-color lightBlue #a3d4d5;
@define-color waveAqua2 #7aa89f;
@define-color springGreen #98bb6c;
@define-color boatYellow1 #938056;
@define-color boatYellow2 #c0a36e;
@define-color carpYellow #e6c384;
@define-color sakuraPink #d27e99;
@define-color waveRed #e46876;
@define-color peachRed #ff5d62;
@define-color surimiOrange #ffa066;
@define-color katanaGray #717c7c;

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
}

window#waybar {
  background-color: @sumiInk1;
  transition-property: background-color;
  transition-duration: 0.5s;
  opacity: 1;
}

window#waybar.hidden {
  opacity: 0.5;
}

#tags,
#workspaces {
  background-color: transparent;
}

#tags button,
#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 6px 18px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: @sumiInk3;
  color: @fujiWhite;
}

#tags button.focused,
#workspaces button.focused {
  color: @sumiInk1;
  background-color: @crystalBlue;
}

#tags button.active,
#workspaces button.active {
  color: @sumiInk1;
  background-color: @crystalBlue;
}

#tags button:hover,
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: @sumiInk1;
  background-color: @springBlue;
}

#tags button.urgent,
#workspaces button.urgent {
  background-color: @peachRed;
}

#memory,
#cpu,
#disk,
#custom-power,
#battery,
#backlight,
#pulseaudio,
#network,
#clock,
#tray {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
  background-color: @sumiInk3;
  color: @sumiInk1;
}

#memory {
  background-color: @oniViolet;
}

#cpu {
  background-color: @surimiOrange;
}

#disk {
  background-color: @sakuraPink;
}

#battery {
  background-color: @springGreen;
}

@keyframes blink {
  to {
    background-color: @peachRed;
    color: @sumiInk1;
  }
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: @roninYellow;
  color: @sumiInk1;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.charging {
  background-color: @springGreen;
}

#backlight {
  background-color: @carpYellow;
}

#pulseaudio {
  background-color: @waveAqua2;
}

#network {
  background-color: @springBlue;
  padding-right: 17px;
}

#clock {
  font-family: JetBrainsMono Nerd Font;
  background-color: @crystalBlue;
}

#custom-power {
  background-color: @waveRed;
}

#tray {
  background-color: @lightBlue;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: @sumiInk2;
}

tooltip label {
  padding: 5px;
  background-color: @sumiInk2;
}
